# My first R notebook

In [1]:
# Creation of variables
a = 10
b <- 20
30 ->c

In [2]:
a
b
c

[1] 10

[1] 20

[1] 30

In [3]:
n <- 15
n

[1] 15

In [4]:
n <- 10+2
n

[1] 12

In [5]:
n <- 3+rnorm(1)
n

[1] 3.180668

In [6]:
(10 + 2) * 5

[1] 60

In [7]:
name <- "carmen";n1 <- 10;n2 <- 100;m <- 0.5
ls(1)

[1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name"

In [9]:
ls(pat = "m")

[1] "m"    "name"

In [10]:
ls(pat = "^m")
# The list of objects whose names start with this character

[1] "m"

In [11]:
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 3.18
n1 :  num 10
n2 :  num 100
name :  chr "carmen"

In [12]:
?lm

In [13]:
x <- 1
mode(x)

[1] "numeric"

In [14]:
length(x)

[1] 1

In [15]:
A <- "gomphotherium"; compar <- TRUE; z <-1i
mode(A);mode(compar);mode(z)

[1] "character"

[1] "logical"

[1] "complex"

In [17]:
N <- 2.1e23
N

[1] 2.1e+23

In [18]:
# INF represent positive infinityand -Inf represent negitive infinity and NaN means not a number
x <- 5/0
x
exp(x)
exp(-x)
x-x

[1] Inf

[1] Inf

[1] 0

[1] NaN

In [19]:
x <- "Double quotes \" delimitate R's string."
x

[1] "Double quotes \" delimitate R's string."

In [20]:
cat(x)

Double quotes " delimitate R's string.

In [21]:
x <- 'Double quotes \" delimitate R\'s string.'
x

[1] "Double quotes \" delimitate R's string."